$mainFont: Helvetica;
$greenColor: #52B795;
$redColor: #EF4B47;
$blackColor: #282826;
$whiteColor: #fdfdfc;

body{
	font-family: $mainFont;
}

p {
    font-size: 14px;
    letter-spacing: 0.02em; 
    color: $blackColor;   
}
nav{
	display: flex;
	justify-content: center;
}
.headline {
    font-size: 35px;
    letter-spacing: 0.04em;
    font-weight: bold;
    text-align: center;
}

#paragraph{
	margin-right: 20%;
	margin-left: 20%;
}

#colorBox{
	display: flex;	
	color: $whiteColor;
	justify-content: center;

	#redColor{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		background-color: $redColor;
		margin: 5px;
	}
	#greenColor{
		@extend #redColor;
		background-color: $greenColor;
	}
	#blackColor{
		@extend #redColor;
		background-color: $blackColor;
	}
	#whiteColor{
		@extend #redColor;
		background-color: $whiteColor;
		border: solid 2px;
		border-color: $blackColor;
		color: $blackColor;
	}

}

a{
	font-weight: bold;
	text-decoration: none;
	margin: 5px;
}
/* unvisited link */
a:link {
    color: $blackColor;
}

/* visited link */
a:visited {
    color: $blackColor;
}

/* mouse over link */
a:hover {
    color: $redColor;
}

/* selected link */
a:active {
    color: $redColor;
}