#topSection {
  width: 100%;
  height: 100vh;
  background-image: url("img/bg.jpg");
  background-color: #d4c54d;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

#attentionText {
  padding-top: 50vh;
  padding-left: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center; }
  #attentionText h3 {
    width: 80%;
    margin-bottom: 30px; }

.subtitleMargin {
  margin-bottom: 30px; }

#topSectionBtn {
  background-color: #e7607b; }

#eventFilterSection {
  margin-top: 100px; }

.eventDesc {
  display: flex;
  justify-content: space-around;
  min-height: 170px;
  background-color: #fdfdfc;
  z-index: 1;
  position: relative;
  padding-top: 20px; }
  .eventDesc a:hover {
    color: #282826; }

#filerButtons {
  display: flex;
  width: 86vw;
  flex-wrap: wrap;
  justify-content: center; }

#eventsByType {
  flex-grow: 1;
  display: flex;
  margin-top: 10px;
  justify-content: center; }

#eventsByTime {
  flex-basis: 360px;
  flex-shrink: 0;
  margin-top: 10px; }

.eventsByTypeWidth {
  max-width: 300px; }

#searchEvent {
  margin-top: 10px; }

#filterUiBtn, #filterUxBtn, #filterDevBtn {
  background-color: #52B795; }
  #filterUiBtn:hover, #filterUxBtn:hover, #filterDevBtn:hover {
    color: #282826;
    border-color: #282826;
    background: #3f9779; }

#filterUxBtn {
  background-color: #e7607b; }
  #filterUxBtn:hover {
    background: #e03456; }

#filterDevBtn {
  background-color: #F9E131; }
  #filterDevBtn:hover {
    background: #f0d407; }

#eventBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 200px;
  cursor: pointer; }

.eventDescription {
  justify-content: justify;
  margin: 20px 20px 0px 20px;
  line-height: 130%; }

.eventImg, .greenBorder, .redBorder, .yellowBorder {
  height: 170px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #f2eeee;
  border-bottom: solid 12px; }

.greenBorder {
  border-color: #52B795; }

.redBorder {
  border-color: #e7607b; }

.yellowBorder {
  border-color: #F9E131; }

.eventDate {
  display: inline-block;
  width: 56px;
  vertical-align: top;
  text-align: center; }
  .eventDate .month {
    color: #e7607b;
    text-transform: uppercase; }
  .eventDate .day {
    font-weight: 600; }

.eventDetails {
  display: inline-block;
  width: 290px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400; }
  .eventDetails p {
    padding-bottom: 10px; }
  .eventDetails h3 {
    color: #282826;
    margin-bottom: 20px; }

.eventTitle {
  text-transform: uppercase;
  font-weight: 600; }

.eventBox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 50px;
  padding-bottom: 20px;
  width: 350px; }
  .eventBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .eventBox a:hover {
    color: #282826; }
  .eventBox .iconDiv {
    display: flex; }
    .eventBox .iconDiv img {
      height: 17px;
      opacity: 0.3;
      margin-right: 5px; }

.pastEventImg {
  opacity: 0.5; }

.pastEvent p {
  opacity: 0.5; }

.pastEvent span {
  margin-top: 7px;
  font-weight: bold; }

#filters {
  width: 100%;
  display: flex;
  flex-direction: column; }

#devBtn, #uxBtn, #uiBtn, #pastBtn, #upcomingBtn {
  padding: 0px 10px 0px 10px;
  font-weight: bold; }
  #devBtn:hover, #uxBtn:hover, #uiBtn:hover, #pastBtn:hover, #upcomingBtn:hover {
    color: #c4b510;
    transition: color 0.5s ease;
    cursor: pointer; }

#uxBtn:hover {
  color: #e7607b; }

#uiBtn:hover {
  color: #52B795; }

#pastBtn:hover {
  color: #F5860C; }

#upcomingBtn:hover {
  color: #0969B2; }

#pendingContainer, #dissmissedContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  #pendingContainer p, #dissmissedContainer p {
    margin: 10px; }
  #pendingContainer .eventBox, #dissmissedContainer .eventBox {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #pendingContainer #btnShowDissmissed, #dissmissedContainer #btnShowDissmissed {
    background-color: #e7607b;
    margin-bottom: 50px; }

.clippedDescription {
  max-height: 60px;
  overflow: hidden; }

.btnDissmissEvent, .btnApproveEvent {
  padding: 15px 45px 15px 45px; }

.pendingActions {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between; }

@media (max-width: 700px) {
  #eventBoxes {
    justify-content: center; } }

.photo-overlay {
  transition: transform 1s;
  height: 170px;
  width: 350px;
  background-color: #52B795; }

.eventBox:hover .photo-overlay {
  transform: translateY(-100%); }

.photo-overlay {
  position: absolute;
  z-index: 1;
  transition: 1s;
  height: 170px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .photo-overlay h2 {
    color: #fdfdfc; }

.ui {
  background-color: rgba(82, 183, 149, 0.9); }

.ux {
  background-color: rgba(231, 96, 123, 0.9); }

.dev {
  background-color: rgba(249, 255, 49, 0.9); }

#filtersBtn {
  display: flex;
  padding: 20px; }

#arrow {
  width: 15px;
  height: 10px;
  margin: 3px 10px; }

#filtersText {
  font-weight: 550;
  letter-spacing: 0.2em;
  border-radius: 5px;
  cursor: pointer; }

.displayFilters {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
  font-weight: 550; }

#displayAllFilters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  border: solid;
  border-color: #f3f3f3;
  padding: 50px; }

.filterGroup {
  margin-bottom: 20px;
  color: #dadad9;
  font-weight: 550;
  letter-spacing: 0.04em; }

.openFilters {
  transform: rotate(180deg);
  top: .55em; }

.underline {
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
  transition: color 1s; }
  .underline:hover {
    border-bottom: 3px solid #282826;
    color: #282826;
    cursor: pointer; }

.underlineLocation {
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
  transition: color 1s; }
  .underlineLocation:hover {
    border-bottom: 3px solid #0069AD;
    color: #0069AD;
    cursor: pointer; }

#underlineUi {
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
  transition: color 1s; }
  #underlineUi:hover {
    border-bottom: 3px solid #52B795;
    color: #52B795;
    cursor: pointer; }

#underlineUx {
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
  transition: color 1s; }
  #underlineUx:hover {
    border-bottom: 3px solid #e7607b;
    color: #e7607b;
    cursor: pointer; }

#underlineDev {
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
  transition: color 1s; }
  #underlineDev:hover {
    border-bottom: 3px solid #F9E131;
    color: #F9E131;
    cursor: pointer; }

.activeLocation {
  border-bottom: 3px solid #0069AD;
  color: #0069AD;
  cursor: pointer; }

@media screen and (max-width: 857px) {
  #displayAllFilters {
    padding: 0px 20px 20px 20px; }
  .filterGroup {
    margin-top: 30px;
    margin-bottom: 0px; }
  .displayFilters {
    flex-direction: column;
    align-items: center; }
    .displayFilters p {
      margin-top: 10px; } }

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 30px; }
  #attentionText h3 {
    width: 300px;
    font-size: 15px; } }
