#ModalContainer {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: RGBA(0, 0, 0, 0.7);
  z-index: 100; }

#Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 500px;
  padding: 15px; }

#containerCloseModal {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

#closeModal:hover {
  cursor: pointer; }

#divLogin, #divCreateAccount {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }

#divCreateAccount {
  display: none; }

#frmLogin, #frmCreateAccount {
  display: flex;
  flex-direction: column;
  width: 80%; }
  #frmLogin #btnLogin, #frmLogin #btnCreateAccount, #frmCreateAccount #btnLogin, #frmCreateAccount #btnCreateAccount {
    margin-top: 10px;
    width: 40%; }

.displayFlex {
  display: flex; }
