#stats-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around; }

.stats-column {
  background-color: #f7f7f7;
  width: 45%;
  display: inline-block; }
