#topImageSection {
  width: 100%;
  height: 70vh;
  background-color: #f2eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#descriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px; }

#containerHeader, #divEditEvent {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2eeee;
  padding: 20px 35px 20px 30px; }

#eventContainer {
  width: 70%;
  padding: 30px 30px 20px 30px;
  border: solid 3px;
  border-color: #f2eeee; }
  #eventContainer * {
    margin-bottom: 20px; }
  #eventContainer h3 {
    color: #282826;
    font-weight: bold;
    margin-bottom: 5px; }
  #eventContainer #autocomplete {
    margin-bottom: 0px; }

#tagStyle {
  color: #282826;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #52B795; }

.errorMessage {
  color: #e7607b; }

#btnRegister, #btnConfirmEdit, #btnDenieCancel {
  background-color: #52B795; }
  #btnRegister:hover, #btnConfirmEdit:hover, #btnDenieCancel:hover {
    border-color: #282826; }

#btnUnregister, #btnCancelEvent, #btnConfirmCancel {
  background-color: #e7607b; }
  #btnUnregister:hover, #btnCancelEvent:hover, #btnConfirmCancel:hover {
    border-color: #282826; }

.bold {
  font-weight: bold; }

#divEditEvent {
  width: 100%; }

#warningModalContainer {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: RGBA(0, 0, 0, 0.7);
  z-index: 100;
  top: 0; }

#warningModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 2%;
  max-width: 600px; }
  #warningModal h2 {
    margin-bottom: 5px; }
  #warningModal .displayFlex {
    margin-top: 20px; }

#btnDenieCancel {
  margin-right: 5px;
  margin-left: 5px; }
