@mixin underlineColor($color) {
	border-bottom: 3px solid rgba(0, 0, 0 ,0);
	transition: border-bottom 1s;
	transition: color 1s;
	&:hover{
		border-bottom: 3px solid $color;
		color: $color;
		cursor: pointer;
	}
}

@mixin selectedFilterColor($color){
	border-bottom: 3px solid $color;
	color: $color;
	cursor: pointer;
}