$mainFont: Helvetica;
$containerWidth: 1200px;
$greenColor: #52B795;
$redColor: #e7607b;
$blackColor: #282826;
$whiteColor: #fdfdfc;
$grayColor: #f2eeee;
$yellowColor: #F9E131;

$indexTopSectionHeith: 90vh;
$indexTopSectionWidth: 100%;