$mainFont: Helvetica;
$containerWidth: 1200px;
$greenColor: #52B795;
$greenColorTransparent: rgba(82, 183, 149, 0.9);
$redColor: #e7607b;
$redColorTransparent: rgba(231,96,123, 0.9);
$blackColor: #282826;
$blackColorTransparent: rgba(40,40,38, 0.5);
$whiteColor: #fdfdfc;
$grayColor: #f2eeee;
$yellowColor: #F9E131;
$yellowColorTransparent: rgba(249, 255, 49, 0.9);

$indexTopSectionHeith: 100vh;
$indexTopSectionWidth: 100%;