@import '_utils/_vars';



#descriptionBox{
	display: flex;
	flex-flow: column wrap;
    width:75%;
    border:2px solid rgb(238, 238, 238);
	margin: 0px auto;
	padding-bottom:25px;

    .topBar{
		width:100%;
        background-color:rgb(238, 238, 238);
        height:10vh;

        ul{
			display: flex;
			align-items: center;
			justify-content: center;

            li{
                list-style: none;
				padding:0 70px;
            }
        }
	}
		
	#filterUiBtn{
		background-color:$greenColor;
		//border:1px solid black;
		border-radius:20px;
		padding:10px 25px;
	}
}

.description{
	display:flex;
	flex-flow: row wrap;
	padding: 5px 25px;

	.descriptionSection{
		display:flex;
		flex-flow:row wrap;
		align-items: baseline;
		flex:2 0 75%;
	}
}

.buttonSection{
	padding:0 25px;
	#btnCancel{
<<<<<<< HEAD
		// @extend button;
		background-color:grey;
	}
	#btnParticipate{
		// @extend button;
=======
		background-color:grey;
	}
	#btnParticipate{
>>>>>>> 79a834c86e16cc47e091673611d1f539195d2360
		background-color: $redColor;
	}
}
