@import '_utils/_vars';

// INPUT STYLING

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; }
  
  label {
	flex: none;
	display: block;
	text-transform: uppercase; }
  
  input, textarea {
	width: calc(100% - 15px);
	margin-bottom: 40px;
	border: 1px solid $greenColor;
	border-radius: 5px;
	padding: 10px;
	background-color: $whiteColor;
	color: #616060;
 }
  
  .redBtn {
	background-color: #e7607b; }
  
.displayFlexStyle{
	display: flex;
	margin-bottom: 40px;
	// align-items: top;
	flex-wrap: wrap;
}
  .displayFlex {
	display: flex;
	margin-bottom: 20px; }
	.displayFlex label {
	  margin-right: 20px; }
  
  label.inline {
	display: inline-block;
	margin-bottom: 25px;
	margin-right: 20px; }
  
  #formContainer {
	display: flex;
	margin-bottom: 100px;
	flex-direction: column;
	align-items: center; }
  
  #formContainer form {
	width: 70%;
	display: block;
	padding: 50px;
	// background-color: #f2eeee;
	// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  #datepicker {
	background-color: #fdfdfc; }
  


// GENERAL STYLES
body {
	font-family: $mainFont;
	margin: 0px;
	color: $blackColor;
}

h1 {
	font-size: 60px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	//color: $greenColor;

	span {
		color: $blackColor;
		background-color: $whiteColor;
	}
}


h2 { 
	font-size: 30px;
    letter-spacing: 0.04em;
    font-weight: bold;
	text-transform: uppercase;
	color: $greenColor;
	span {
		color: $blackColor;
		background-color: $whiteColor;
		letter-spacing: 0.2em;
		margin-right: $indexTopSectionWidth * 0.5;
	}
}


h3 {
	font-size: 18px;
	font-weight: 400;
	color: $greenColor;
	span {
		color: $blackColor;
		background-color: $whiteColor;
		letter-spacing: 0.2em;
		font-weight: bold;
	}
}


button{
	border: solid 2px;
	//border-radius: 30px;
	border-radius: 5px;
    padding: 15px 48px 15px 48px;
    font-size: 13px;
    letter-spacing: 0.2em; 
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    position:relative;
    margin: 0 auto;
    cursor: pointer;
	transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    &:hover{
    	color: $whiteColor;
    	border-color: $redColor;
    	background: $redColor;
    }
}

.main-container {
    max-width: $containerWidth;
    margin: 0 auto;
}

#topBanner{
	width: 100%;
	height: 40vh;
	background-image: url("img/test.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	//margin-top: 79px;
	background-position: center;
}

@mixin test($img){
	width: 100%;
	height: 40vh;
	background-image: ($img);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	//margin-top: 79px;
	background-position: center;
}

#topBanner{
	@include test(url("img/test.png"));
}

#topBannerStats{
	@include test(url("img/stats.svg"));
}

#topBannerPending{
	@include test(url("img/pending.jpg"));
}

#topBannerCreateEvent{
	@include test(url("img/createEvent.jpg"));
}

#topBannerProfile{
	@include test(url("img/profile.jpg"));
}

.textColumns {
	columns: 2 400px;
	padding: 30px;
  }

#hoverBtn{
	@extend button;
	color: $whiteColor;
	border-color: $redColor;
	background: $redColor;
	margin-left: 60px;
}

a{
	// font-weight: bold;
	text-decoration: none;
}
/* unvisited link */
a:link {
    color: $blackColor;
}

/* visited link */
a:visited {
    color: $blackColor;
}

// /* mouse over link */
// a:hover {
//     color: $redColor;
// }

// /* selected link */
// a:active {
//     color: $redColor;
// }

.extraMargin{
	margin-left: 50px;
}

// NAVIGATION STYLING
nav{
    display: flex;
	justify-content: flex-end;
	padding: 30px;
	font-family: $mainFont;
	box-shadow: inset 4px,5px 6px #000;
}
.toggleNav{
	display: none;
}
.hamburgerContainer {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $whiteColor;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px){
	nav{
		justify-content: center;
		align-items: center;
		// padding-bottom: 38px;
	}
	#navDropdown{
		display: block;
	}
	.extraMargin{
		margin: 10px 0px 5px 0px;
	}
	.toggleNav{
		display: block;
	}
	.hideResponsive	{
	  display: none;
	}
	nav.open{
		background-color: $blackColorTransparent;
		flex-direction: column;
		.hideResponsive{
			display: flex;
		}
		.displayResponsive{
			display: flex;
			flex-direction: column;
		}
	}
	.showResponsive{
		display: block;
	}

}

#positionAbsolut{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    //background-color: $blackColor;
    width: 100%;
    z-index: 1;
}

.notificationBadge {
	background-color: $redColor;
	border-radius: 25px;
	color: black;
	padding: 4px 0px 1px 7px;
	font-size: 13px;
	position: absolute;
	top: -3px;
	right: -25px;
	width: 21px;
  }

.nav a {
	font-weight: bold;
	text-decoration: none;
}

/* unvisited link */
.nav a:link {
    color: $whiteColor;
}

/* visited link */
.nav a:visited {
    color: $whiteColor;
}

/* mouse over link */
.nav a:hover {
    color: $redColor;
}

/* selected link */
.nav a:active {
    color: $redColor;
}

#navDropdown {
	display: none;
}

#nav-dropdown {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: $blackColorTransparent;
	color: #fdfdfc;
	width: 130px;
	padding: 15px 20px 0px 20px;
	text-align: center;
	
	a {
		display: block;
		margin-bottom: 15px;
	}
}


// FOOTER STYLING
footer {
	background-color: $blackColor;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $whiteColor;
	width: 100%;
	p{
		margin-top: 0px;
		margin-bottom: 6px;
	}
	h2{
		color: $whiteColor;
		margin-bottom: 20px;
	}
}

/* STYLING FOR THE LOGIN */


#ModalContainer {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
	background-color: RGBA(0,0,0, 0.7);
	z-index: 100;
	top: 0;
}



#Modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greenColor;
    width: 500px;
	padding: 15px;
	border-radius: 5px;
	
	form {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid darken($greenColor, 20%);
	}

	input {
		height: 40px;
	}

	p {
		margin: 5px 0 5px 0;
		font-weight: bold;
	}

	h2 {
		margin-bottom: 25px;
		text-align: center;
	}

	button {
		color: $whiteColor;
    	border-color: $blackColor;
		background-color: $redColor;
		&:hover {
			background-color: darken($redColor, 20%);
		}
	}
}

#containerCloseModal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#closeModal {
    &:hover {
        cursor: pointer;
    }
}

.smallBtn {
	padding: 10px 30px;
	font-size: 10px;
}

#divLogin, #divCreateAccount {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#divCreateAccount {
    display: none;
}

#frmLogin, #frmCreateAccount {
    display: flex;
    flex-direction: column;
	width: 80%;
	

	// Need this to align the checkbox left
	#checkNotification {
		width: 5%;
	}

	#divLoginResponse {
		color: $redColor;
	}

}

#msgOK{
	h3{
		padding-bottom: 20px;
	}
	width: 61%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0px 30px 0px;
	border: 2px solid $greenColor;
	border-radius: 5px;
	color: darken($greenColor, 30%);
	background-color: lighten($greenColor, 40% );
	margin-top: 50px;
}
#msgError{
	@extend #msgOK;
	border: 2px solid $redColor;
	color: darken($redColor, 30%);
	background-color: lighten($redColor, 30% );
	h3{
		padding-bottom: 20px;
		color: $redColor;
	}
}

#btnConfirmEdit{
	@extend button;
	background-color: $greenColor;	
	&:hover{
		background-color: darken($greenColor, 10%);	
		color: $whiteColor;
		border-color: $blackColor;
	}
}

#btnCancelEvent{
	@extend button;
	background-color: $redColor;	
	&:hover{
		background-color: darken($redColor, 10%);	
		color: $whiteColor;
		border-color: $blackColor;
	}
}
.sectionHeader {
	padding: 25px 0px 10px 0px;
	text-align: center;
	color: $blackColor;
	border-bottom: 3px solid $grayColor;
}

.FlexColumnCenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// arrow on the dopdown nav
.arrow_box {
	position: relative;
	background: $blackColorTransparent;
}
.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: $blackColorTransparent;
	border-width: 15px;
	margin-left: -15px;
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 30px;
    }
    #attentionText h3 {
    width: 300px;
    font-size: 15px;
	}
}