@import '_utils/_vars';

#profileContentBox{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#profilePicture{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: $greenColor;
	margin-bottom: 100px;
}
.displayFlex{
	display: flex;
}

form{
	margin-bottom: 100px;
}

input[type=checkbox] {
    transform: scale(2);
    margin-top: 2px;
    margin-left: 50px;
}

hr{
	margin: 30px 0px 30px 0px;
}

h3{
	margin-bottom: 30px;
}

#addMoreEmailsBtn{
	margin-bottom: 30px;
}

#addMorePhoneBtn{
	@extend #addMoreEmailsBtn;
}