@import '_utils/_vars';

#instertUserDetailsHere{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex: 1 0 100%;
	margin-top: 100px;
	margin-bottom:10vh;
}

.column1{
	flex-flow:column wrap;
	flex: 1 0 5%;

	#profilePicture{
		width: 175px;
		height: 175px;
		border-radius: 50%;
		background-color: $greenColor;
		margin-bottom: 25px;

		#imgProfilePicture{
			width:100%;
			height:100%;
			border-radius:50%;
		}
	}
}
.column2{
	flex-flow:row wrap;
	flex: 1 0 33.3%;

	.form-group{
		flex: 2 0 100%;
	}
}
.column3{
	flex-flow:column wrap;
	flex: 1 0 33.3%;
}

.selectInterest{
	margin-top:25px;
}


.margin{
	margin-right:5%;
}

.displayFlex{
	display: flex;
}


form{
	margin-bottom: 100px;
}

input[type=checkbox] {
    width: 3vw;
	height: 3vh;
    margin-left: 0px;
}

li{
	list-style: none;
	display:-webkit-inline-box;
}

h3{
	margin-bottom: 20px;
	font-weight: bold;
}


label{
	font-weight:bold;
	text-overflow: clip;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    max-width: 100%;
	cursor: pointer;	
	padding: 15px;
	display: inline-block;
	white-space: nowrap;
	font-size:14px;
	z-index: -1;
}

//CSS ICON
.inputfile + label svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
	margin-right:5px;
}

.inputfile-1 + label {
    color: $greenColor;
	background-color: $grayColor;
	border:1px solid $greenColor;
	max-width:175px;
	
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
	background-color: $greenColor;
	color:white;
}


#addMoreEmailsBtn{
	margin-bottom: 30px;
	padding:10px;
}

#addMorePhoneBtn{
	@extend #addMoreEmailsBtn;
}


.column5{ 
	margin:0 20%;

	.greenBtn{
		background-color:$greenColor;		
		&:hover{
			border-color: $blackColor;
			background-color: darken($greenColor, 10%);
		}
	}

	#btnDeleteProfile{
		background-color:$redColor;
		margin-left:25px;
		&:hover{
			border-color: $blackColor;
			background-color: darken($redColor, 10%);

		}
	}
}

#interrestsBox{
	margin-top: 30px;
}

#btnDenieDelete {
	background-color: $greenColor;
	margin-right: 5px;
	margin-left: 5px;
	&:hover {
		border-color: $blackColor;
	}
}

#btnConfirmDelete {
	background-color: $redColor;
	&:hover {
		border-color: $blackColor;
	}
}

//************	MEDIA QUERIES	******************/

@media screen and (max-width:1250px) {
	.column1{
		margin:0px 35px;
	}
}

//************	MAX-WIDTH:1000PX	******************/
@media screen and (max-width:1115px) {
	#instertUserDetailsHere{
		justify-content: center;
		flex-flow: column wrap;
		width:75%;
	}

	.column1{
		margin:50px auto;
	}
}


