@import '_utils/_vars';

#stats-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top:75px;
}


.topEvents{
    background-color: $grayColor;   
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

//
.stats-column {
    width: 45%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    //display: inline-block;

    ol {
        padding: 20px 10px 0px 30px;
    }

    li {
        padding: 12px 10px;
    }
}

//TOTALS 4 BOXES
.totals-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    //width: 45%;
    flex: 0 0 45%;

    .column1, .column2 {
        flex: 0 1 50%;

        .totals-item{
            background-color:$grayColor;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            height:25vh;
            align-items: center;
           // flex: 2 0 11.25%;
           margin:15px;
           padding: 25px 25px;
           text-align: center;
        }
    }  
}
  
.stats-item {
    //background-color: $grayColor;
    padding: 15px;
    margin-bottom: 20px;
    //position: relative;
}

.stats-item-count {
    margin:30px auto;
    //border-left: 2px solid $blackColor;
    width: 60px;

    span{
        font-size:28px;
        
    }
}


.charts-item {
    margin-top: 20px;
    height: 50%;
}