$mainFont: Helvetica;
$greenColor: #52B795;
$redColor: #EF4B47;
$blackColor: #282826;
$whiteColor: #fdfdfc;
$grayColor: #f7f7f7;
$yellowColor: #F9E131;

body{
	font-family: $mainFont;
	margin: 0px;
}

nav{
	display: flex;
	justify-content: flex-end;
	padding-top: 30px;
}

h1{
	font-size: 70px;
	letter-spacing: 0.2em; 
	margin-bottom: 20px;
	text-transform: uppercase;
}

h1 span{
	background-color: $whiteColor;
}

h3{
	font-size: 20px;
	letter-spacing: 0.2em; 
	font-weight: 400;
	//	text-align: center;
}

h2{ 
	font-size: 30px;
    letter-spacing: 0.04em;
    font-weight: bold;
    //text-align: center;
    text-transform: uppercase;
}


p{
	margin: 5px 0px 5px 0px;
}

button{
	border: solid 2px;
    border-radius: 30px;
    padding: 15px 48px 15px 48px;
    font-size: 13px;
    letter-spacing: 0.2em; 
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    position:relative;
    margin: 0 auto;
    cursor: pointer;
	//transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
    &:hover{
    	color: $whiteColor;
    	border-color: $redColor;
    	background: $redColor;
    }
 //    a:hover {
 //    color: $blackColor;
	// }
}

#hoverBtn{
	@extend button;
	color: $whiteColor;
	border-color: $redColor;
	background: $redColor;
	margin-left: 60px;
}

a{
	font-weight: bold;
	text-decoration: none;
}
/* unvisited link */
a:link {
    color: $blackColor;
}

/* visited link */
a:visited {
    color: $blackColor;
}

/* mouse over link */
a:hover {
    color: $redColor;
}

/* selected link */
a:active {
    color: $redColor;
}

.extraMargin{
	margin-left: 50px;
}

#positionAbsolut{
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 95vw;
}

#topSection{
	width:100vw;
	max-width:100%; 
	height:90vh;
	//background-image: url("img/bg1.jpeg");
	//background-position: inherit;
	background-color: $greenColor;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

#attentionText{
	display:flex;
	justify-content:center;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	h3 {
		width: 650px;
		margin-left: auto;
    	margin-right: auto;
	}
}

#eventFilterSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#myEventsStyle{
	@extend #eventFilterSection;
}

#filerButtons{
	display: flex;
	width: 86vw;
	flex-wrap: wrap;
	justify-content: center;

}

#eventsByType {
  flex-grow: 1;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

#eventsByTime {
  flex-basis: 360px;
  flex-shrink: 0; 
  margin-top: 10px;
}
.eventsByTypeWidth{
	max-width:300px;
}

#searchEvent{
	margin-top: 10px;
}

#filterUiBtn{
	@extend button;
	background-color: $greenColor;
	    &:hover{
    	color: $blackColor;
    	border-color: $blackColor;
    	background: darken( $greenColor, 10% );
    }
}

#filterUxBtn{
	@extend #filterUiBtn;
	background-color: $redColor;
	 &:hover{
    	background: darken( $redColor, 10% );
    }
}

#filterDevBtn{
	@extend #filterUiBtn;
	background-color: $yellowColor;
	 &:hover{
    	background: darken( $yellowColor, 10% );
    }
}

#filterPastEventBtn{
	@extend button;
	&:hover{
    	color: $blackColor;
    	border-color: $blackColor;
    	background: $grayColor;
    }
}

#filterUpcommingEventBtn{
	@extend #filterPastEventBtn;
}

#search{	
	border: solid 2px;
    border-radius: 30px;
    padding: 15px 48px 15px 48px;
    width: 255px;
    font-size: 13px;
    letter-spacing: 0.2em; 
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    position:relative;
    margin: 0 auto;
}
#eventBoxes{
	display: flex;
	width: 90vw;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-bottom: 200px;
	cursor: pointer;
}
.eventDescription{
	width:330px;
}
.eventImg{
	height:150px;
	width:350px;
	background-color: $grayColor;
}
.eventDetails{
	padding-left: 20px;
}
.greenBorder{
	@extend .eventImg;
	margin-top: 50px;
	margin-bottom: 20px;
	border: solid 10px;
	border-color: $greenColor;
	border-radius: 5px;
}
.pastEventImg{
	opacity: 0.5;
}

.pastEvent{
	p{
		opacity: 0.5;
	}
	span{
		margin-top: 7px;
		font-weight: bold;
	}
}


@media only screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }
    #attentionText h3 {
    width: 300px;
    font-size: 15px;
	}
}
