@import '_utils/_vars';

#topImageSection{
	width:100%; 
	height:70vh;
	background-color: $grayColor;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#descriptionContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}
#containerHeader{
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $grayColor;
	padding: 20px 35px 20px 30px;
}
#eventContainer{
	width: 70%;
	padding: 30px 30px 20px 30px;
	border: solid 3px;
	border-color: $grayColor;
	* {
		margin-bottom: 20px;
	}
}

#tagStyle {
	color: $whiteColor;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 2px;
	background-color: $greenColor;
}

#errorMessage {
	color: $redColor;
}

#btnRegister {
	background-color: $greenColor;
	&:hover {
		border-color: $blackColor;
	}
}

#btnUnregister {
	background-color: $redColor;
	&:hover {
		border-color: $blackColor;
	}
}

.bold {
	font-weight: bold;
}

#frmEditEvent {
	@extend #containerHeader;
}