@import '_utils/_vars';

#topImageSection{
	width:100%; 
	height:70vh;
	background-color: $grayColor;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#descriptionContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}
#containerHeader{
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $grayColor;
	padding: 20px 35px 20px 30px;
}
#eventContainer{
	width: 70%;
	padding: 30px 30px 20px 30px;
	border: solid 3px;
	border-color: $grayColor;
	* {
		margin-bottom: 20px;
	}
	h3{
		color: $blackColor;
		font-weight: bold;
		margin-bottom: 5px;
	}
}

#tagStyle {
	color: $blackColor;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 2px;
	background-color: $greenColor;
}

.errorMessage {
	color: $redColor;	
}

#btnRegister {
	background-color: $greenColor;
	&:hover {
		border-color: $blackColor;
	}
}

#btnUnregister {
	background-color: $redColor;
	&:hover {
		border-color: $blackColor;
	}
}

.bold {
	font-weight: bold;
}

#divEditEvent {
	width: 100%;
	@extend #containerHeader;
}

#btnConfirmEdit {
	@extend #btnRegister;
}

#btnCancelEvent {
	@extend #btnUnregister;
}

#warningModalContainer {
	display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: RGBA(0,0,0, 0.7);
	z-index: 100;
	top: 0;  
}

#warningModal {
    display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
    align-items: center;
    background-color: white;
    padding: 2%;
    max-width: 600px;
	
	h2{
		margin-bottom: 5px;
	}
	
	.displayFlex {
		margin-top: 20px;
	}
}

#btnDenieCancel {
	// @extend #btnRegister;
	margin-right: 5px;
	margin-left: 5px;
}

// #btnConfirmCancel {
// 	//@extend #btnUnregister;	
// }
